<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm PallyCallie! I'm the happiest cutest tennis pengu VTuber~! I'm a Twitch Streamer, Content Creator, and a Programmer!
        I love to stream lots of gaming, coding, and hanging out~! The thing I love most is hearing about the good stuff that happens in your day~
        I'm on a journey to provide everyone with the most comfort and as much happiness as I can in this turmoil-heavy world~ I hope
        I can be at least a small part of what brings you happiness too~</p>
      </div>
      <div class="col-lg-4">
        <img source="https://files.catbox.moe/x1cg39.png" alt="There's a pic of PallyCallie here~! Or at least there's supposed to be~">
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
